*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box{
    padding:10px;
    height:300px;
    width: 300px;
    background-color: rgba(245, 245, 245, 0.925);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 10px;
}
#box h1{
    margin:3px;
    padding:3px;
    font-size: 1.6rem;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#722F37;

}
#box button{
    padding: 3%;
    height: 40px;
    width: 100px;
    margin: auto;
    border: none;
    outline: none;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
#btn{
    height:40px ;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
#decrease{
     background-color: rgba(238, 15, 15, 0.836);
}
#reset{
    background-color: rgb(86, 86, 236);
}
#increase{
    background-color: green;
}
h2{
    font-size:3rem;
    font-weight: bold;
    color:blue;

}
