*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}
#box{
    height: 200px;
    width: 200px;
    background-color: red;
    margin: 50px auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    height: 20px ;
    width:70px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: black;
}
