*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Helvetica;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#card{
    height:350px;
    width:280px;
    background-color: whitesmoke;
    border-radius: 5px;
    color:black;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2px;
    position: relative;
    



}
#card div{
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    

}
#card img{
    object-fit: cover;
    border-radius: 10px;
    height:280px;
    width: 100%;

}
#card h1{
    margin-top: 5px;
    font-size: 35px;
    font-weight: 700;
}
#card i{
    font-size:70px;
    position: absolute;
    top:50%;
    left:50%;
    opacity: 0;
    background-image: url(https://media.istockphoto.com/id/1403057774/vector/gradient-background-orange-pink-and-purple-colors-rainbow-colors-magenta-yellow-and-red.jpg?s=612x612&w=0&k=20&c=vjBJxXPU7QXTUgGcMYVq-4xp7W7ns4wkjf42pDVK2K0=);
    background-size: cover;
    color:transparent;
    background-clip: text ;
    -webkit-background-clip: text;
    transform: translate(-50%,-50%) scale(0) rotate(-90deg);
    transition: all cubic-bezier(.67,.76,.81,1.31) 0.4s;


}