*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Helvetica;
    color: whitesmoke;
}
html,body{
    height: 100%;
    width: 100%;

}
main{
    height: 100%;
    width: 100%;
    padding: 30px;
    background-color:black;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
    

}