*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
    
/* 
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items:center;
    grid-gap:8px;
    
}
.child{
    height: 250px;
    width: 250px;
    background-color: salmon;
    color :white;
    border:2px solid whitesmoke;

}
#child1{
    grid-column-start:1;
    grid-column-end: 4;  
} */

/* main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    /* grid-template-columns: 180px 1fr;
    grid-template-rows: 50px 120px 1fr;
    grid-template-areas: "header header"
                         "aside section"
                         "footer footer"; */
                         
    /* grid-template-columns:1fr 1.5fr 1fr; 
    grid-template-rows: 60px 1fr 200px ;  
    grid-template-areas: "header header header"
                        "section section section"
                        "div1 div2 div3 ";                  
grid-gap:5px;
} */ 
/* header{
    background-color: rgb(71, 71, 249);
    grid-area: header;
} */
/* aside{
    background-color: brown;
    grid-area: aside;
} */
/* section{
    background-color:rgb(128, 49, 0);
    grid-area:section ;
} */
/* footer{
    background-color: rgb(0, 0, 72);
    grid-area: footer;
} */
 /* #div1{
    background-color: violet;
    grid-area: div1;
 }
 #div2{
    background-color: rgb(109, 58, 109);
    grid-area: div2;
 }
 #div3{
    background-color: rgb(198, 9, 198);
    grid-area: div3;
 } */

main{
    padding: 10px;
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns:1f 300px 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-areas: "lefttop topcenter righttop"
                         "lefttop canter rightbottom "
                         "leftbottom leftbottom rightbottom";
                        
   grid-gap:10px;
                       
  }
  img{
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius:10px;
  }
#lefttop{
    background-color: brown;
    grid-area:lefttop;
    border-radius:10px; 
    
  }
#leftbottom{
    background-color: rgb(128, 49, 0);
    grid-area:leftbottom;
    border-radius:10px; 
}
#topcenter{
    background-color: rgb(12, 12, 186);
    grid-area:topcenter;
    border-radius:10px; 
}
#canter{
    background-color: violet;
    grid-area:canter;
    border-radius:10px; 
}
#righttop{
    background-color: rgb(109, 58, 109);
    grid-area: righttop;
    border-radius:10px; 
}
#rightbottom{
    background-color: rgb(198, 9, 198);
    grid-area: rightbottom;
    border-radius:10px; 
}