*{
    margin:0;
   padding:0;
   box-sizing: border-box; 
}
html body{
    height: 100%;
    width: 100%;
    background: #222;
}
/* #parent{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    grid-template-rows:25% 25% 25% 25%;
}
.chilld{
    height: 200px;
    width: 200px;
    background-color: red;
    border: 1px solid white;
}

.chilld:nth-child(2n){
    background-color: blue;
}
.chilld:nth-child(3n){
    background-color: green;
} */

/* h1{
    font-size: 100px;
    background-image:url(https://gifdb.com/images/high/trippy-rainbow-color-sunset-v6usco6rbntddcwd.gif);
    color:transparent;
    text-align: center;
    background-clip: text;
    background-size: cover;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.53);

} */
 #parent{
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 20px;
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
    /* overflow: hidden; */
    overflow: auto;

}
#parent::-webkit-scrollbar{
    background-color: rgb(85, 155, 241);
    height:3px;
}
#parent::-webkit-scrollbar-thumb{
    background-color: rgba(57, 97, 218, 0.735);
    border-radius: 10px;
}
.chilld{
    height:300px;
    width: 200px;
    border: 2px solid rgba(84, 114, 248, 0.614);
    border-radius: 5px ;
    flex-shrink:0;
}
.chilld img{
    height:100%;
    width:100%;
    object-fit:cover;
}
