*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    flex-direction: column;
}
#box{
    height: 200px;
    width: 200px;
    background-color: rgb(255, 0, 0);
    margin: 10px ;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;


}
#box h1{
    font-size: 50px;
    font-weight: bold;
}
button{
    width: 80px;
    padding: 10px ;
    margin:10px;
    border-radius:5px;
    border:none;
    color:whitesmoke;
    background-color: rgb(98, 98, 232);
    cursor:pointer;
}
button:active{
    transform: scale(0.98);
}