*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
    background-color:black;
    
}
main{
    height: 100%;
    width: 100%;
    background-image:url("https://i.pinimg.com/736x/21/09/79/210979e1b0ef3ddd0f9ffc9a0a2266f4.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#detailsBox{
    padding:5px;
    margin: 1px;
    height: 450px;
    width: 300px;
    background-color:rgb(255,255,255,0.5);
    border-radius:10px;
    display: flex;
    justify-content:top;
    align-items: center;
    flex-direction: column;
    gap:10px;
    
}
h1{
    margin-top: 5px;
    font-size:18px;
    font-weight: 800;
    color: black;
}
#imgbx{
    height:150px;
    width:200px;
    padding: 2px;
    margin-top:10px;
    object-fit: cover;
}
img{
    height: 100%;
    width: 100%;
    border-radius:5px ;
    object-fit: cover;

}
button{
    height:40px;
    width: 90px;
    background-color: rgb(95, 95, 243);
    color:whitesmoke;
    border: none;
    border-radius: 5px;
    margin-top: 40px;
}
#tmdt{
    height:110px;
    width: auto;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
    
}
span{
padding:5px;
color:black;
font-size:15px;
font-weight: 700;
}