*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
/* .container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */
.box{
    height: 200px;
    width:200px;
    background-color: crimson;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cercle{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}